body
{
   color:white;
background-color: white;

}
h1
{
    color: black;
}

/*
.messComp
{
color:white;
background-color: white;
background-image: url('info.png');
display: grid;
grid-template-rows: 50px 50px;
grid-template-columns: 100px 100px 100px;
}
.messM
{
    color:white;
    background-color:white;
    background-image: url('info.png');
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 100px 100px 100px;
}
.messPr
{
    color: #00529B;
    background-color: #BDE5F5;
    background-image: url('info.png');
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 100px 100px 100px;
}*/

@media screen
{
    body
	{
		color: red;
	}
	.messComp
	{
		color: white;
	}
	.messM
	{
		color: black;
		 left: 10;
    top: 30;
	}
	.messPr
	{
		color: white;
	}
}

@media screen and (max-device-width: 480px)
{
    body
	{
		color: green;
	}
	.messM
	{
		color: white;
	}
	.messComp
	{
		color: black;
	}	
	.messPr
	{
		color: white;
	}
}

@media print
{ 
	body
	{
		body: blue;
	}
	.messPr
	{
		color: black;
		 left: 10;
    top: 30;
	}
	.messM
	{
		color: white;
	}
	.messComp
	{
		color: white;
	}	
	
}


